<div class="d-flex gap-2 flex-column justify-content-center">
    
    <app-create-product></app-create-product>
    @if(!productsVisible) {    
        <button class="btn btn-info text-light" (click)="productsVisibleToggler()">Ver Produtos</button>
    }
    <div class="d-flex flex-column align-items-center gap-2">
    @if (productsVisible) {
            <button class="btn btn-info text-light col-12" (click)="productsVisibleToggler()">Esconder Produtos</button>
        }
        @if (productsVisible) {
            
            <h4 class="text-light">Todos os produtos</h4>
            <div class="container p-2 d-flex flex-column gap-2">
                @for (product of allProducts; track product.id) {
                    <app-product-management 
                    [id]="product.id" 
                    [name]="product.name" 
                    [price]="product.price"
                    [type]="product.type"
                    [barCode]="product.barCode"
                    ></app-product-management>
                }
            </div>
        }
    </div>
    
    @if(!ordersVisible) {    
        <button class="btn btn-success text-light" (click)="ordersVisibleToggler()">Ver Mesas</button>
    }
    <div class="d-flex flex-column align-items-center gap-2 col-12">
        @if (ordersVisible) {
            <button class="btn btn-success text-light col-12" (click)="ordersVisibleToggler()">Esconder Mesas</button>
            <!-- New Order -->
            <div class="d-flex flex-column align-items-center border rounded gap-2 p-2 col-12">
            <app-create-order class="col-12"></app-create-order>
            <!-- Listagem de Mesas -->
                <h4 class="text-light">Todas as mesas</h4>
                <div class="container d-flex flex-wrap gap-2 justify-content-center">
                    @for (order of orders; track order.id) {
                        <app-order [id]="order.id" [name]="order.name" [products]="order.products" [createdAt]="order.createdAt"></app-order>
                    }
                </div>
            </div>
        }
    </div>

    @if(!closedOrdersVisible) {
        <button class="btn btn-warning" (click)="closedOrdersVisibleToggler()">Ver Pedidos Fechados</button>
    } 
    @if (closedOrdersVisible) {
        <button class="btn btn-warning" (click)="closedOrdersVisibleToggler()">Fechar</button>
        @for (closedOrder of closedOrders; track closedOrder.id) {
            <app-closed-order 
            [id]="closedOrder.id" 
            [name]="closedOrder.name" 
            [products]="closedOrder.products" 
            [totalValue]="closedOrder.totalValue" 
            [createdAt]="closedOrder.createdAt" 
            [closedAt]="closedOrder.closedAt"
            class="text-light"></app-closed-order>
        }
    }
</div>