<header class="navbar p-3 bg-dark" role="navigation" data-bs-theme="dark">
  <h1 class="navbar-brand"><a class="nav-link" routerLink="/">Modern Menu</a></h1>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarHome" aria-controls="navbarHome" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <nav class="collapse navbar-collapse text-primary" id="navbarHome">
    <a routerLink="/" class="nav-link">Menu</a>
    <a routerLink="/manager" class="nav-link">Area Interna</a>
  </nav>
</header>
<main class="p-3 bg-dark" data-bs-theme="dark">
  <router-outlet></router-outlet>
</main>
<footer class="p-3 d-flex justify-content-center text-secondary bg-dark" data-bs-theme="dark">by zefelipe19</footer>